<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <div class="mb-3 form-group">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div>
                @if (this.loginForm.value['username'].touched && this.loginForm.value['username'].invalid){
                <div class="alert-danger">
                    @if (this.loginForm.value['username'].error && this.loginForm.value['username'].errors['required']){
                    <small>Title is required</small>
                    }
                </div>
                }
            </div>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" formControlName="password">
            <div class="alert-danger">
                @if (loginForm.value['password'].touched && loginForm.value['password'].invalid){
                <div>
                    @if (loginForm.value['password'].error && loginForm.value['password'].errors['required']){
                    <small class="text-danger">Title is required</small>
                    }
                </div>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.invalid">Submit</button>
    </form>
</div>