<div class="">
    <div class="flex align-items-center justify-content-center">
        <section class="w-full border-round-lg m-4 p-4" style="height: 200px; background-color:aliceblue;">
            <div class="text-900 font-semibold text-center" style="font-size: 24px; color: #2E2E2E;">Welcome to homepage
            </div>
        </section>
    </div>

    <div class="flex align-items-center justify-content-center">
        <section class="w-full border-round-lg m-4 p-4" style="background-color:aliceblue;">
            <div class="text-900 font-semibold" style="font-size: 24px; color: #2E2E2E;">MKC Group</div>

            <div class="text-900 mt-2" style="color: #797979;">The group of friends whose always stands for each other
                and they have set a benchmark for others in the world that what is friendship
            </div>
        </section>

        <section class="w-full border-round-lg m-4 p-4" style="background-color:aliceblue;">
            <div class="text-900 font-semibold" style="font-size: 24px; color: #2E2E2E;">MKC Group</div>

            <div class="text-900 mt-2" style="color: #797979;">The group of friends whose always stands for each other
                and they have set a benchmark for others in the world that what is friendship
            </div>
        </section>
    </div>
</div>