<!-- <div class="container">
    <form [formGroup]="postForm" (ngSubmit)="createPost()">
        <input type="text" formControlName="title">
        <input type="text" formControlName="body">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->

<div class="container">
    <form [formGroup]="postForm" (ngSubmit)="createPost()">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" formControlName="title">
            <div>
                @if (this.postForm.value['title'].touched && this.postForm.value['title'].invalid){
                <div class="alert-danger">
                    @if (this.postForm.value['title'].error && this.postForm.value['title'].errors['required']){
                    <small>Title is required</small>
                    }
                </div>
                }
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" formControlName="body">
            <div>
                @if (this.postForm.value['body'].touched && this.postForm.value['body'].invalid){
                <div class="alert-danger">
                    @if (this.postForm.value['body'].error && this.postForm.value['body'].errors['required']){
                    <small>Title is required</small>
                    }
                </div>
                }
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>